In [189]:
import numpy as np

import pandas as pd
from IPython.display import display, HTML
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50) #  columns count
pd.set_option('display.max_colwidth', -1)  # columns width 

# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# to display float format
pd.options.display.float_format = '{:.2f}'.format

In [190]:
# file pathes to input data
fp_ut = 'УТ.xlsx'     
fp_buh =  'Бух.xlsx'

In [191]:
# Describe field names
# F means Field
F_ITEM = 'Номенклатура'
F_CODE = 'Код'
F_SUM = 'Сумма'

In [192]:
DTYPES = {F_ITEM: 'str',F_CODE:'str'}

In [193]:
# clean up data for the given Series
def clean_up_for_numeric(given_df, df_name, col_name):
    '''col_name - column name for cleaning '''
    given_df[col_name].replace(u'\xa0',u'', regex=True, inplace=True) # clean up the no-break spaces
    given_df[col_name].replace(u',',u'.', regex=True, inplace=True)  # repalce commas with the dots
    print("Cleaning data in ",col_name," column successfull for", df_name)
    return True

# converts the given series to a float type
def convert_to_float(given_df, df_name, col_name): # 'df_name is the name of the datframe
    given_df[col_name] = given_df[col_name].astype(float)
    print("Converting ", col_name, " column in float successful for ", df_name)
    return True

In [194]:
df_ut = pd.read_excel(fp_ut, sep=';', dtype=DTYPES)
df_buh = pd.read_excel(fp_buh,sep=';', dtype=DTYPES)

In [195]:
df_ut['ЭтоБухгалтерия'] = False # to distinguish ut.csv rows from buh.csv
df_buh['ЭтоБухгалтерия'] = True # to distinguish ut.csv rows from buh.csv

In [196]:
# Describe fields types
float_type_rows = [F_SUM] # the specifeid field will be converted to float

# Clean up the data in buh & ut
#    the  column may have a \xa0 symbol (no-break space)
# Note:To figure out the value which can not be converted use: df.apply(pd.to_numeric)

# Remove NB spaces and replace commas with dots for columns Quantity and Sum
for float_col_name in float_type_rows:
        clean_up_for_numeric(df_buh, 'df_buh', float_col_name)
        convert_to_float(df_buh, 'df_buh', float_col_name)
        
        clean_up_for_numeric(df_ut, 'df_ut', float_col_name)
        convert_to_float(df_ut, 'df_ut', float_col_name)

Cleaning data in  Сумма  column successfull for df_buh
Converting  Сумма  column in float successful for  df_buh
Cleaning data in  Сумма  column successfull for df_ut
Converting  Сумма  column in float successful for  df_ut

In [197]:
# Check whether both dataframes have the same types of fields
print(df_buh.dtypes)
print(df_ut.dtypes)

Номенклатура      object
Код               object
Сумма             float64
ЭтоБухгалтерия    bool
dtype: object
Номенклатура      object
Код               object
Сумма             float64
ЭтоБухгалтерия    bool
dtype: object

In [200]:
# SAVE CONCATENATED DATAFRAMES TO THE FILE
df.to_excel('concatenated_files.xlsx', index_label=False, index=False)

In [201]:
# DROP DUPLICATES TO DETECT DIFFERENCE
pd.concat([df_buh,df_ut]).drop_duplicates(subset=[F_CODE, F_SUM],keep=False)

                                                                      Номенклатура     Код      Сумма  ЭтоБухгалтерия
603   Уплотнение вод. насоса  ЯМЗ-238НД3\5 нов.обр KACO 19х40 (ОАО Автодизель-ЯМЗ)  001616 1763.73     True
718   Звёздочка промежуточного (отбойного) битера "Енисей" z=18\18, шаг19.05        002293 2388.20     True
167   Уплотнение торцевое вод. насоса  ЯМЗ-238НД3\5 нов.обр (ОАО Автодизель-ЯМЗ)    969    15310.07    True
603   Уплотнение вод. насоса  ЯМЗ-238НД3\5 нов.обр KACO 19х40 (ОАО Автодизель-ЯМЗ)  001616 nan         False
718   Звёздочка промежуточного (отбойного) битера "Енисей" z=18\18, шаг19.05        002293 nan         False
167   Уплотнение торцевое вод. насоса  ЯМЗ-238НД3\5 нов.обр (ОАО Автодизель-ЯМЗ)    969    nan         False
1615  nan                                                                           nan    nan         False
1616  Итог                                                                          nan    5466206.49  False